<div id="booking">
    <!-- Booking Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title text-center text-primary text-uppercase">{{ i18n "Booking" }}</h6>
            </div>
            <div class="row g-5">
                <div class="col-lg-6">
                    <div class="row g-3">
                        <div class="col-6 text-end">
                            <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.1s" src="{{ "imgs/about-01.jpg" | relURL }}" style="margin-top: 25%;">
                        </div>
                        <div class="col-6 text-start">
                            <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.3s" src="{{ "imgs/about-02.jpg" | relURL }}">
                        </div>
                        <div class="col-6 text-end">
                            <img class="img-fluid rounded w-50 wow zoomIn" data-wow-delay="0.5s" src="{{ "imgs/about-03.jpg" | relURL }}">
                        </div>
                        <div class="col-6 text-start">
                            <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.7s" src="{{ "imgs/about-04.jpg" | relURL }}">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="wow fadeInUp" data-wow-delay="0.2s">
                        <form action="{{ .Site.Params.formsubmit_action }}" method="post">
                            <div class="row g-3">
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="name" placeholder="{{ i18n "contactName" }}">
                                        <label for="name">{{ i18n "contactName" }}</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="email" class="form-control" id="email" placeholder="{{ i18n "contactMail" }}">
                                        <label for="email">{{ i18n "contactMail" }}</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating date" id="date3" data-target-input="nearest">
                                        <input type="text" class="form-control datetimepicker-input" id="checkin" placeholder="{{ i18n "checkIn" }}" data-target="#date3" data-toggle="datetimepicker" />
                                        <label for="checkin">{{ i18n "checkIn" }}</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating date" id="date4" data-target-input="nearest">
                                        <input type="text" class="form-control datetimepicker-input" id="checkout" placeholder="{{ i18n "checkOut" }}" data-target="#date4" data-toggle="datetimepicker" />
                                        <label for="checkout">{{ i18n "checkOut" }}</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="text" id="adults" class="form-control" placeholder="{{ i18n "Adults" }}" />
                                        <label for="Adults">{{ i18n "Adults" }}</label>
                                      </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="text" id="childs" class="form-control" placeholder="{{ i18n "Childs" }}" />
                                        <label for="childs">{{ i18n "Childs" }}</label>
                                      </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-floating">
                                        <select class="form-select" id="select3">
                                            {{ range (where .Site.RegularPages "Type" "rooms") }}
                                                <option value="{{ .Params.weight }}"> {{ i18n .Title }} </option>
                                            {{ end }}
                                        </select>
                                        <label for="select3">{{ i18n "selectAroom"}}</label>
                                      </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-floating">
                                        <textarea class="form-control" placeholder="Special Request" id="message" style="height: 100px"></textarea>
                                        <label for="message">{{ i18n "specialRequest" }}</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-primary w-100 py-3" type="submit">{{ i18n "bookNow" }}</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Booking End -->
</div>