<div class="container-fluid bg-dark text-light footer wow fadeIn" data-wow-delay="0.1s">
    <div class="container pb-5">
        <div class="row g-5">
            <div class="col-md-6 col-lg-4">
                <div class="bg-primary rounded p-4">
                    <a href="/"><img src="{{ "imgs/cover-page.jpg" | relURL }}" alt="Sky View" style="background: linear-gradient(to bottom, rgb(0 0 0 / .5), rgb(0 0 0 / .5));"></a>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <img src="{{ "imgs/logo.png" | relURL }}" alt="">
            </div>
            <div class="col-md-6 col-lg-4">
                <h6 class="section-title text-start text-primary text-uppercase mb-4">{{ i18n "contactUs" }}</h6>
                <p class="mb-2"><i class="fa fa-map-signs me-3"></i>{{ .Site.Params.address }}</p>
                <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>{{ .Site.Params.phone }}</p>
                <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>{{ .Site.Params.phone2 }}</p>
                <p class="mb-2"><i class="fa fa-envelope me-3"></i>{{ .Site.Params.email }}</p>
                <div class="d-flex pt-2">
                    {{ with .Site.Params.social }}
                        {{ range sort . "weight" }}
                            <a class="btn btn-outline-light btn-social" href="{{ .url }}"><i class="{{ .icon }}"></i></a>
                        {{end }}
                    {{ end }}
                </div>
            </div>
    </div>
    <div class="container">
        <div class="copyright">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    &copy; <a class="border-bottom" href="#">Your Site Name</a>, All Right Reserved. 
                    
                    <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                    Designed By <a class="border-bottom" href="https://htmlcodex.com">HTML Codex</a>
                </div>
                <div class="col-md-6 text-center text-md-end">
                    <div class="footer-menu">
                        <a href="">Home</a>
                        <a href="">Cookies</a>
                        <a href="">Help</a>
                        <a href="">FQAs</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>