<div class="container-fluid bg-dark text-light footer wow fadeIn" data-wow-delay="0.1s">
    <div class="container pb-5">
        <div class="row g-5" id="footer">
            <div class="col-md-6 col-lg-4">
                <div class="bg-primary rounded p-4">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3704.5037820225148!2d-79.98749712570384!3d21.799457860864546!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f2ae45d0b21a7e9%3A0x7c18fe08e270faeb!2sHostal%20Sky%20View!5e0!3m2!1sen!2scu!4v1706985355283!5m2!1sen!2scu" width="300" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <img src="{{ "imgs/logo.png" | relURL }}" alt="">
            </div>
            <div class="col-md-6 col-lg-4">
                <h6 class="section-title text-start text-primary text-uppercase mb-4">{{ i18n "contactUs" }}</h6>
                <p class="mb-2"><i class="fa fa-map-signs me-3"></i>{{ .Site.Params.address }}</p>
                <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>{{ .Site.Params.phone }}</p>
                <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>{{ .Site.Params.phone2 }}</p>
                <p class="mb-2"><i class="fa fa-envelope me-3"></i>{{ .Site.Params.email }}</p>
                <div class="d-flex pt-2">
                    {{ with .Site.Params.social }}
                        {{ range sort . "weight" }}
                            <a class="btn btn-outline-light btn-social" href="{{ .url }}"><i class="{{ .icon }}"></i></a>
                        {{end }}
                    {{ end }}
                </div>
            </div>
    </div>
    <div class="container">
        <div class="copyright">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    <div class="col-md-12 d-none d-lg-block">
                        &copy; <a class="border-bottom" href="{{ relLangURL "/" }}">{{ .Site.Title }}</a>, All Right Reserved. 
                        <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                        Designed By <a class="border-bottom" href="https://htmlcodex.com">HTML Codex</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>