{{ if isset .Site.Params.rooms "gallery"}}
{{ if .Site.Params.rooms.gallery }}
{{ if isset .Site.Data "gallery" }}
{{ if gt (len .Site.Data.gallery) 0 }}
<div id="gallery">
    <div class="section">
        <div class="gallery columns is-multiline">
            {{ range sort .Site.Data.gallery "weight" }}
            <div class="column is-3">
                <div class="position-relative">
                        <a href="{{ .image  }}">
                            <img class="img-fluid shadow p-2" src="{{ .image }}" alt=" {{ .title }} " height="300px" width="300px">
                        </a>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</div>
{{ end }}
{{ end }}
{{ end }}
{{ end }}