<div class="container-fluid bg-dark px-0">
    <div class="row gx-0">
        <div class="col-lg-3 bg-dark d-none d-lg-block">
            <a href="/" class="navbar-brand w-100 h-100 m-0 p-0 d-flex align-items-center justify-content-center">
                <h1 class="m-0 text-primary text-uppercase">{{ .Site.Title }}</h1>
            </a>
        </div>
        <div class="col-lg-9">
            <div class="row gx-0 bg-white d-none d-lg-flex">
                <div class="col-lg-7 px-5 text-start">
                    <div class="h-100 d-inline-flex align-items-center py-2 me-4">
                        <i class="fa fa-envelope text-primary me-2"></i>
                        <p class="mb-0">{{ .Site.Params.email }}</p>
                    </div>
                    <div class="h-100 d-inline-flex align-items-center py-2">
                        <i class="fa fa-phone-alt text-primary me-2"></i>
                        <p class="mb-0">{{ .Site.Params.phone }} / {{ .Site.Params.phone2 }}</p>
                    </div>
                </div>
                <div class="col-lg-5 px-5 text-end">
                    <div class="d-inline-flex align-items-center py-2">
                        {{ with .Site.Params.social }}
                        {{ range sort . "weight" }}
                            <a class="me-3" href="{{ .url }}"><i class="{{ .icon }}"></i></a>
                        {{ end }}
                        {{ end }}
                        {{ partial "lang_menu" . }}
                    </div>
                </div>
            </div>
            <nav class="navbar navbar-expand-lg bg-dark navbar-dark p-3 p-lg-0">
                <a href="{{ relLangURL "/" }}" class="navbar-brand d-block d-lg-none">
                    <h1 class="m-0 text-primary text-uppercase">{{ .Site.Title }}</h1>
                </a>
                <div>
                    {{ range .Translations }}
                        <a class="navbar-toggler me-5" href="{{ .Permalink }}" hreflang="{{ .Language.Lang }} "><span class=" {{ .Language.Params.flag }}"></span></a>
                    {{ end }}
                    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                    
                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav mr-auto py-0">
                        {{ with site.Menus.main }}
                        {{ range . }}
                        {{ if $.IsMenuCurrent .Menu .}}
                        <a href="{{ .URL | relLangURL }}" class="nav-item nav-link active">{{ i18n .Name }}</a>
                        {{ else }}
                        <a href="{{ .URL | relLangURL }}" class="nav-item nav-link">{{ i18n .Name }}</a>
                        {{ end }}
                        {{ end }}
                        {{ end }}
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>