<meta charset="utf-8">
<title>{{ .Site.Title }}{{ if not .IsHome }}{{ with .Title }} | {{ . }}{{ end }}{{ end }}</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    
    {{ $keywords := .Site.Params.defaultKeywords | default (slice "" | first 0) }}
    {{ if isset .Params "tags" }}{{ range .Params.tags }}{{ $keywords = $keywords | append . }}{{ end }}{{ end }}
    {{ if isset .Params "keywords" }}{{ range .Params.keywords }}{{ $keywords = $keywords | append . }}{{ end }}{{ end }}
    {{ if gt (len $keywords) 0 }}
    <meta name="keywords" content="{{ delimit (uniq $keywords) ", " }}">
    {{ end }}
    
    {{ $description_plain := default .Site.Params.defaultDescription .Description | markdownify | plainify }}
    <meta name="description" content="{{ $description_plain }}">
   
    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ "imgs/favicon.ico" | relURL }}" type="image/x-icon" />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">  

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{{ "lib/animate/animate.min.css" | relURL }}" rel="stylesheet">
    <link href="{{ "lib/owlcarousel/assets/owl.carousel.min.css" | relURL }}" rel="stylesheet">
    <link href="{{ "lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" | relURL }}" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{{ "/css/bootstrap.min.css" | relURL }}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{{ "/css/style.css" | relURL }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ "/css/bulma/css/bulma.min.css" | relURL }}">