<div id="rooms">
    <div class="section">
        <div class="columns is-multiline">
            {{ range .Pages }}
            <div class="column is-4">
                <div class="room-item shadow rounded overflow-hidden">
                    <div class="position-relative">
                        <img class="img-fluid" src="{{ .Params.featuredImage }}" alt="">
                    </div>
                    <div class="p-4 mt-2">
                        <div class="d-flex justify-content-between mb-3">
                            <h5 class="mb-0">{{ .Title }}</h5>
                            <div class="ps-2">
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                            </div>
                        </div>
                        <div class="d-flex mb-3">
                            <small class="border-end me-3 pe-3"><i class="fa fa-bed text-primary me-2"></i>{{ .Params.Bed }}</small>
                            <small class="border-end me-3 pe-3"><i class="fa fa-bath text-primary me-2"></i>{{ .Params.Bath }}</small>
                            {{ if eq .Params.Wifi "on" }}
                                <small><i class="fa fa-wifi text-primary me-2"></i>Wifi</small>
                            {{ else }}
                            {{ end }}
                        </div>
                        <div class="d-flex justify-content-between">
                            <a class="btn btn-sm btn-primary rounded py-2 px-4" href="{{ .Permalink }}">View Detail</a>
                            <a class="btn btn-sm btn-dark rounded py-2 px-4" href="{{ "contact" | relURL }}">Book Now</a>
                        </div>
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</div>