{{ if isset .Site.Params "rooms"}}
{{ if .Site.Params.rooms.enable }}
{{ if isset .Site.Data "room1" }}
{{ if gt (len .Site.Data.room1) 0 }}
<div id="room1">
    <div class="card">
        {{ range sort .Site.Data.room1 "weight" }}
        <div class="position-relative">
            <div class="img-fluid ">
                <img src="{{ .image }}" alt=" {{ .title }} ">
            </div>
        </div>
        <div class="card-content">
            <a class="title is-4" href="{{ .Permalink }}">{{ .Title }}</a>
            <div class="content">
                {{ .Summary }}
            </div>
        </div>
    </div>
    {{ end }}
</div>
{{ end }}
{{ end }}
{{ end }}
{{ end }}