<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title text-center text-primary text-uppercase">{{ i18n "ourServices" }}</h6>
            <h1 class="mb-5">Explore nuestros <span class="text-primary text-uppercase">{{ i18n "Services" }}</span></h1>
        </div>
        <div class="row g-2">
            {{ if .Site.Params.services.enable }}
            {{ if isset .Site.Data "services" }}
            {{ if gt (len .Site.Data.services) 0 }}
            {{ range sort .Site.Data.services "weight" }}
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item rounded">
                        <div class="service-icon bg-transparent border rounded p-1">
                            <div class="w-100 h-100 border rounded d-flex align-items-center justify-content-center">
                                <i class="{{ .icon }}"></i>
                            </div>
                        </div>
                        <h5 class="mb-2">{{ i18n .name }}</h5>
                        <p>{{ .description }}</p>
                    </div>
                </div>
            {{ end }}
            {{ end }}
            {{ end }}
            {{ end }}
        </div>
    </div>
</div>
