{{ if .Site.Params.Staff.enable}}
{{ if isset .Site.Data "staff" }}
{{ if gt (len .Site.Data.staff) 0 }}
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title text-center text-primary text-uppercase">{{ i18n "ourTeam" }}</h6>
        </div>
        <div class="row">
            {{ range sort .Site.Data.staff "weight" }}
            <div class="col wow fadeInUp" data-wow-delay="0.1s">
                <div class="rounded shadow overflow-hidden">
                    <div class="position-relative">
                        <img class="img-fluid" src="{{ .image }}" alt="" height="200px">
                        <div class="position-absolute start-50 top-100 translate-middle d-flex align-items-center">
                            <a class="btn btn-square btn-primary mx-1" href="{{ .facebook }}"><i class="fab fa-facebook-f"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4 mt-3">
                        <h5 class="fw-bold mb-0">{{ .fullname }}</h5>
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</div>
{{ end }}
{{ end }}
{{ end }}